body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 22px 30px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}

.hero {
  padding: 26px 36px;
  display: flex;
  flex-direction: column;
}

.hero--img {
  align-self: center;
  max-width: 100%;
  margin-bottom: 32px;
}

.hero--title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
}

.hero--text {
  font-weight: 300;
  font-size: 16px;
}
