body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 22px 30px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}

.hero {
  padding: 26px 36px;
  display: flex;
  flex-direction: column;
}

.hero--img {
  align-self: center;
  max-width: 100%;
  margin-bottom: 32px;
}

.hero--title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
}

.hero--text {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0;
}

.card-list {
  padding: 26px 36px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  margin-top: 0;
}

.card--img {
  border-radius: 9px;
  width: 176px;
  height: 235px;
  margin-bottom: 9px;
}

.card--star {
  width: 14px;
}

.card--stats {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  margin-bottom: 8px;
}

.gray {
  color: 918e9B;
}

.card--title {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
}

.price {
  font-weight: bold;
}

.card {
  position: relative;
}

.status {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px 6px;
  border-radius: 2px;
  background: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 110%;
  text-align: center;
  color: #222;
}
